In [51]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [52]:
df_orders = pd.read_csv(r'C:\Users\danie\_orders_products\orders.csv')

In [53]:
path = r'C:\Users\danie\_orders_products'

In [54]:
# import orders products combined DF
df_merged_large = pd.read_csv(r"C:\Users\danie\_orders_products\orders_products_combined.csv")

In [55]:
df_merged_large.shape

(32434489, 12)

In [56]:
# import products wrangled Df_1
df_orders = pd.read_csv(r"C:\Users\danie\_orders_products\products_wrangled.csv")

In [57]:
frames=[df_merged_large, df_orders]

In [58]:
df_concat = pd.concat(frames)

In [59]:
df_concat

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,0,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,196,1.0,0.0,both,NaN,NaN,NaN,NaN
1,1,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,14084,2.0,0.0,both,NaN,NaN,NaN,NaN
2,2,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,12427,3.0,0.0,both,NaN,NaN,NaN,NaN
3,3,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,26088,4.0,0.0,both,NaN,NaN,NaN,NaN
4,4,2539329.0,1.0,prior,1.0,2.0,8.0,NaN,26405,5.0,0.0,both,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49667,49688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49684,NaN,NaN,NaN,"Vodka, Triple Distilled, Twist of Vanilla",124.0,5.0,5.3
49668,49689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49685,NaN,NaN,NaN,En Croute Roast Hazelnut Cranberry,42.0,1.0,3.1
49669,49690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49686,NaN,NaN,NaN,Artisan Baguette,112.0,3.0,7.8
49670,49691,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49687,NaN,NaN,NaN,Smartblend Healthy Metabolism Dry Cat Food,41.0,8.0,4.7
49671,49692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49688,NaN,NaN,NaN,Fresh Foaming Cleanser,73.0,11.0,13.5

In [60]:
df_concat = pd.concat(frames, axis =1)

In [61]:
df_concat

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,0.0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8
1,1,2539329,1,prior,1,2,8,NaN,14084,2,0,both,1.0,2.0,All-Seasons Salt,104.0,13.0,9.3
2,2,2539329,1,prior,1,2,8,NaN,12427,3,0,both,2.0,3.0,Robust Golden Unsweetened Oolong Tea,94.0,7.0,4.5
3,3,2539329,1,prior,1,2,8,NaN,26088,4,0,both,3.0,4.0,Smart Ones Classic Favorites Mini Rigatoni Wit...,38.0,1.0,10.5
4,4,2539329,1,prior,1,2,8,NaN,26405,5,0,both,4.0,5.0,Green Chile Anytime Sauce,5.0,13.0,4.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,32434484,2977660,206209,prior,13,1,12,7.0,14197,5,1,both,NaN,NaN,NaN,NaN,NaN,NaN
32434485,32434485,2977660,206209,prior,13,1,12,7.0,38730,6,0,both,NaN,NaN,NaN,NaN,NaN,NaN
32434486,32434486,2977660,206209,prior,13,1,12,7.0,31477,7,0,both,NaN,NaN,NaN,NaN,NaN,NaN
32434487,32434487,2977660,206209,prior,13,1,12,7.0,6567,8,0,both,NaN,NaN,NaN,NaN,NaN,NaN
32434488,32434488,2977660,206209,prior,13,1,12,7.0,22920,9,0,both,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Test Merge Flag
df_concat['_merge'].value_counts()

_merge
both    32434489
Name: count, dtype: int64

In [ ]:
# Export data to csv
df_concat.to_csv(path+"\orders_products_merged.csv")